/*!
Theme Name: Digicrew
Theme URI: 
Author: weblizar
Author URI: http://weblizar.com/
Description: DIGICREW , A Flexible WordPress theme specially designed for Digital Marketing Agencies and SEO Agencies ,
SEO optimized WordPress theme for Digital Marketing Agency . Great WordPress theme for Online Marketing, SEO & Social Media Agency.
Version: 1.0.0
Tested up to: 5.5
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: digicrew
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

digicrew is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries

# Utilities
	- Accessibility
	- Alignments
	
# Start Basics
# Sticky-header
# Button-bottom-to-top
# Main-spacing
# Navbar
# Slick-Nav
# Blog-section 
# News-latter-section
# Footer-section 
# Banner-section
# Pagination
# Blog-sidebar
# Comment-box 
# Comment-form

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
	background: #fff;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Links
--------------------------------------------- */

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}



select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Navigation
--------------------------------------------- */
.main-navigation {
	display: block;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}



/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

/* ----------------------------------------------------------------
    # Start Basics 
-----------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
}

html, body {
    color: #585858;
    line-height: 1.3;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Hind Siliguri', sans-serif;
}

p {
    font-size: 16px;
    font-weight: 300;
    color: #585858;
    line-height: 1.5;
    font-family: 'Hind Siliguri', sans-serif;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

a:focus {
	outline: -webkit-focus-ring-color auto 1px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 1px;
    text-decoration: none;
}

span, a, a:hover, a:focus {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #212121;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 0px;
}

h2 {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 0px;
}

h3 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 0px;
}

h4 {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 0px;
}

h5 {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0px;
}

span {
    font-family: 'Hind Siliguri', sans-serif;
}
select{
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;  
    background: url('assets/images/down.png') ;
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 25px;
}
footer select{
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;  
    background: url('assets/images/downw.png') ;
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 25px;
}
.bor-none {
    border: none !important;
}

.main-title {
    text-align: center;
    margin-bottom: 40px;
}

.main-title-two {
    margin-bottom: 60px;
    text-align: center;
}

.main-title-two .sub-title {
    max-width: 720px;
    font-weight: 500;
    margin: 0 auto;
    padding-top: 30px;
    font-family: 'Hind Siliguri', sans-serif;
}

.bg-theme-blue-gradiant {
    background: rgb(47, 36, 104);
    background: linear-gradient(0deg, rgba(47, 36, 104, 1) 0%, rgba(21, 27, 77, 1) 100%);
}
.left-main-title {
    margin-bottom: 30px;
}

.text-wht {
    color: #fff !important;
}

.bg-gray {
    background: #fafafa;
}

.btn-1 {
    border: 2px solid #ffc80a;
    padding: 9px 45px;
    display: inline-block;
    letter-spacing: 0.5px;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.btn-1:hover, 
.btn-1:focus {
    background-color: #ffc80a;
    color: #212121;
}
.center-img-pos{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.left-0{
    left: 0;
}
/*----------------# Sticky-header -------------*/

.header-one.stick {
    border-bottom: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #151b4d;
    -webkit-animation: 300ms ease-in-out 0s normal none fadeInDown;
    animation: 300ms ease-in-out 0s normal none fadeInDown;
    z-index: 999;
}


/*----------- # Button-bottom-to-top -------------*/

#btn-to-top {
    display: inline-block;
    background-color: #ffc80a;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

#btn-to-top::after {
    content: "\f30c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2em;
    line-height: 50px;
    color: #212121;
}

#btn-to-top:hover,
#btn-to-top:focus {
    cursor: pointer;
    background-color: #333;
}

#btn-to-top:hover::after,
#btn-to-top:focus::after {
    color: #fff;
}

#btn-to-top:active {
    background-color: #555;
}

#btn-to-top.show {
    opacity: 1;
    visibility: visible;
}

/*--------------# Main-spacing -------------*/

.same-section-spacing {
    padding: 100px 0;
}

.ws-section-spacing {
    padding: 100px 0 70px;
}

.title-bottom-spacing {
    margin-bottom: 60px;
}

/* ----------------------------------------------------------------
   #  Navbar 
-----------------------------------------------------------------*/

.header-one {
    position: absolute;
    width: 100%;
    top: 10px;
    z-index: 99;
}

.navbar-light .navbar-nav {
    position: relative;
}
.navbar-nav .menu-item{
position: relative;
    padding: 15px 0;
}
.navbar-light .navbar-nav .menu-item a{
    color: #fff;
    font-size: 15px;
    padding: 0;
    margin-right: 28px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.navbar-light .navbar-nav .menu-item a:focus {
    color: #fff;
}

.navbar-light .navbar-nav .menu-item a:hover,
.navbar-light .navbar-nav .menu-item a:focus, 
 .navbar-light .navbar-nav .current-menu-item a {
    color: #ffc80a;
}

.navbar-light .navbar-nav .nav-item {
    position: relative;
    padding: 15px 0;
}

.navbar-light .navbar-nav .menu-item .sub-menu {
	display: block;
    background: #fff;
    padding: 15px;
    padding-right: 0;
    position: absolute;
    top: 55px;
    width: max-content;
    margin: 0;
    left: -999em;
    z-index: 99999;
}
.navbar-light .navbar-nav .menu-item:hover .sub-menu,
.navbar-light .navbar-nav .menu-item.force-show .sub-menu {
	
    left: auto;
}

.navbar-light .navbar-nav .nav-item .dropdown::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 60%;
    width: 15px;
    height: 15px;
    background: #fff;
    transform: translateX(-50%) rotate(45deg);
}

.navbar-light .navbar-nav .menu-item .sub-menu .menu-item {
    padding: 8px 15px;
}

.navbar-light .navbar-nav .menu-item .sub-menu a {
    color: #212121;
}

.navbar-light .navbar-nav .menu-item .sub-menu a:hover,
.navbar-light .navbar-nav .menu-item .sub-menu a:focus {
    color: #ffc80a;
}

.navbar-light .navbar-nav .menu-item:hover .sub-menu,
.navbar-light .navbar-nav .menu-item.force-show .sub-menu,
.navbar-light .navbar-nav .menu-item:focus .sub-menu,
.navbar-light .navbar-nav .menu-item:focus-within > .sub-menu {
	display: block!important;
    opacity: 1;
    position: absolute;
    visibility: visible;
    top: 50px;
}
.navbar-light .navbar-nav .menu-item .sub-menu ul.sub-menu {
	display: block;
    position: absolute;
    top: 0;
    left: -999em;
    z-index: 99999;
    width: max-content;
}
.navbar-light .navbar-nav .menu-item .sub-menu .menu-item:hover ul.sub-menu,
.navbar-light .navbar-nav .menu-item .sub-menu .menu-item.force-show ul.sub-menu {
	left: 100%;
}
.navbar-light .navbar-nav .menu-item .sub-menu .menu-item:hover>ul.sub-menu,
.navbar-light .navbar-nav .menu-item .sub-menu .menu-item:focus>ul.sub-menu,
.navbar-light .navbar-nav .menu-item .sub-menu .menu-item:focus-within>ul.sub-menu {
	display: block;
    opacity: 1;
    visibility: visible;
}
.navbar-light .navbar-nav .menu-item .sub-menu .menu-item .sub-menu ul.sub-menu {
	display: block;
    position: absolute;
    top: 0;
    left: -999em;
    z-index: 99999;
    width: max-content;
}
.navbar-light .navbar-nav .menu-item .sub-menu .menu-item .sub-menu .menu-item:hover ul.sub-menu,
.navbar-light .navbar-nav .menu-item .sub-menu .menu-item .sub-menu .menu-item.force-show ul.sub-menu {
	left: 100%;
}
.navbar-light .navbar-nav .menu-item .sub-menu .menu-item .sub-menu .menu-item:hover>ul.sub-menu,
.navbar-light .navbar-nav .menu-item .sub-menu .menu-item .sub-menu .menu-item:focus>ul.sub-menu,
.navbar-light .navbar-nav .menu-item .sub-menu .menu-item .sub-menu .menu-item:focus-within>ul.sub-menu {
	display: block;
    opacity: 1;
    visibility: visible;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
}

.menu-item-has-children>a::after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    position: relative;
    margin-left: 10px;
    vertical-align: top;
    border: 0;
    width: auto;
    height: auto;
}
.sub-menu .menu-item-has-children>a::after {
	content: "\f105";
}
.log-btn a {
    border: 2px solid #ffc80a;
    padding: 4px 40px;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.log-btn a:hover,
.log-btn a:focus {
    background-color: #ffc80a;
    color: #212121;
}

/*--------------------------# Slick-Nav ---------------------*/

.slicknav_menu {
    display: none;
}

@media (max-width:992px) {
    .slicknav_menu {
        display: block;
        background: transparent;
        position: relative;
        z-index: 999;
    }
    .header-one .navbar {
        display: none;
    }
    .slicknav_nav {
        background: #151b4d;
        position: relative;
        top: 0px;
        padding: 10px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.23);
    }
    .slicknav_btn {
        background: transparent;
    }
    .slicknav_nav a {
        font-size: 15px;
    }
    .slicknav_nav .slicknav_row:hover, .slicknav_nav a:hover,
    .slicknav_nav .slicknav_row:focus, .slicknav_nav a:focus {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 0;
        background: transparent;
        color: #ffc80a;
    }
    .slicknav_nav .slicknav_arrow {
        float: right;
    }
    .slicknav_brand {
        height: 70px;
    }
    .slicknav_btn {
        padding: 22px 0;
    }
}



/* ----------------------------------------------------------------
     # Blog-section 
-----------------------------------------------------------------*/

.blog-box {
    margin-bottom: 30px;
}

.blog-box .wapper-img {
    border-top-right-radius: 40px;
    margin-bottom: 25px;
}

.blog-box .wapper-img img {
    border-top-right-radius: 40px;
}

.blog-box .blog-content h3 {
    padding-bottom: 15px;
    line-height: 28px;
}

.blog-box .blog-content .read-btn, .blog-box .blog-content .blog-meta li>a, .blog-box .blog-content h3>a {
    color: #212121;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.blog-box .blog-content .read-btn:hover, .blog-box .blog-content h3>a:hover,
.blog-box .blog-content .read-btn:focus, .blog-box .blog-content h3>a:focus {
    color: #ffc80a;
}

.blog-box .blog-content .blog-meta {
    margin-bottom: 20px;
}

.blog-box .blog-content .blog-meta li {
    display: inline-block;
    padding-right: 10px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
    color: #212121;
}

.blog-box .blog-content .blog-meta li>a:hover,
.blog-box .blog-content .blog-meta li>a:focus {
    color: #ffc80a;
}

.blog-box .blog-content .blog-meta li i {
    padding-right: 5px;
}

.blog-box .blog-content .read-btn {
    font-size: 18px;
    font-weight: 600;
}

.blog-box .blog-content .read-btn>i {
    vertical-align: middle;
    font-size: 14px;
}

/*----------------# News-latter-section ------------*/

.news-title {
    text-align: center;
    margin-bottom: 60px;
}

.search-box {
    position: relative;
}

.search-box input {
    position: relative;
    height: 70px;
    border-radius: 35px;
    box-shadow: 0 0 15px 0 rgba(47, 2, 94, 0.1);
    background-color: #ffffff;
    border: none;
    font-weight: 500;
    padding-left: 40px;
        padding-right: 48px;
}

.search-box .btn-search {
    position: absolute;
    top: 4px;
    right: 4px;
    background: #ffc80a;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    border: transparent;
}

.search-box .btn-search i {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 32px;
    color: #212121;
}

/* ----------------------------------------------------------------
     # Footer-section 
-----------------------------------------------------------------*/

.footer-bg,.banner-bg {
    background-color: #151b4d;
}

.footer-box {
    color: #fff;
}

.footer-box h3 {
    font-size: 19px;
    color: #fff;
    padding-bottom: 40px;
}

.footer-box .footer-list {
    margin-bottom: 30px
}

.footer-box .footer-list li {
    padding: 12px 0;
}

.footer-box .footer-list li:first-child {
    padding-top: 0;
}

.copyright-area .copyright-nav li a, .footer-info p>a, .footer-info .social-icon li>a, .footer-box .footer-list li>a {
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.copyright-area .copyright-nav li a:hover, 
.footer-info p>a:hover, 
.footer-info .social-icon li>a:hover, 
.footer-box .footer-list li>a:hover,
.copyright-area .copyright-nav li a:focus, 
.footer-info p>a:focus, 
.footer-info .social-icon li>a:focus, 
.footer-box .footer-list li>a:focus {
    color: #ffc80a;
}

.footer-info .social-icon {
    margin-bottom: 20px;
}

.footer-info .social-icon li {
    display: inline-block;
    padding-right: 15px;
}

.footer-info p {
    color: #fff;
    margin-bottom: 20px;
}

.copyright-area {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 20px 0;
    color: #fff;
}

.copyright-area .copyright-nav, .copyright-area p {
    color: #fff;
    margin: 0;
    padding: 0;
}

.copyright-area .copyright-nav li {
    display: inline-block;
    padding-right: 15px;
}

/*-------------# Banner-section --------------*/

.inner-banner-info {
    margin-top: 30px;
}

.inner-banner-info h2 {
    color: #fff;
    margin-bottom: 20px;
}

.breadcrumb-item+.breadcrumb-item::before, .inner-banner-info p {
    color: #fff;
}

.breadcrumb-right {
    position: relative;
}

.breadcrumb-right .breadcrumb {
    position: absolute;
    right: 0;
    top: 20px;
    background: transparent;
    color: #fff;
}

.breadcrumb-item.active {
    color: #ffc80a;
}

.about-info p {
    letter-spacing: 0.4px;
}

.fixed-bg img {
    position: relative;
    overflow: hidden;
}

.fixed-bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(36, 32, 91, 0.8);
}

.video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.video-btn a {
    color: #fff;
    font-size: 30px;
    line-height: 70px;
    border: 3px solid #fef200;
    display: block;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
}

.service-wt-bor {
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #eee;
    padding: 30px 15px;
}

.service-wt-bor .icon-two {
    background: #212121;
    width: 60px;
    height: 60px;
    padding: 15px;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 20px;
}

.service-wt-bor .icon-two i::before {
    font-size: 30px;
}

.service-wt-bor h3 {
    padding-bottom: 15px;
    text-transform: capitalize;
}

.service-wt-bor .icon-two.blue {
    background: #594fc2;
    box-shadow: 0px 0px 7px 2px rgba(89, 79, 194, 0.5);
}

.service-wt-bor .icon-two.sky {
    background: #6dc9c8;
    box-shadow: 0px 0px 7px 2px rgba(109, 201, 200, 0.5);
}

.service-wt-bor .icon-two.green {
    background: #45cc89;
    box-shadow: 0px 0px 7px 2px rgba(69, 204, 137, 0.5);
}

.service-wt-bor .icon-two.pink {
    background: #f87489;
    box-shadow: 0px 0px 7px 2px rgba(249, 116, 137, 0.5);
}

.service-wt-bor .icon-two.yallow {
    background: #ff9655;
    box-shadow: 0px 0px 7px 2px rgba(254, 150, 85, 0.5);
}

.about-listing li {
    list-style-type: decimal;
    color: #212121;
    font-weight: 500;
    padding-bottom: 10px;
}

.up-title {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
}

/*-------------# Pagination --------------*/

.pagination {
    display: block;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 0;
}

.pagination li {
    display: inline-block;
}

.pagination li i {
    border: 2px solid #ffc80a;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 28px;
    margin: 0 7px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.pagination li i:hover, 
.pagination li i:focus {
    background: #ffc80a;
}

.pagination li .page-link {
    border: none;
    background: none;
    color: #212121;
    font-size: 14px;
    border-radius: 50% !important;
    padding: 0 !important;
    width: 30px;
    height: 30px;
    line-height: 29px;
}

.pagination li .page-link.active {
    background: #ffc80a;
}

.mid-pagination {
    display: inline-block;
    background: #fafafa;
    border-radius: 20px;
    padding: 3px;
}

/*-----------# Gallery-filter -------------*/

.gallery-filter-btn {
    margin-bottom: 50px;
}

.gallery-filter-btn button {
    background: transparent;
    border: none;
    margin: 0px 5px 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    padding: 5px 20px;
    border-radius: 20px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.gallery-filter-btn button:hover,
.gallery-filter-btn button:focus, .gallery-filter-btn button.active {
    border-color: #ffc80a;
}

.gallery-filter-btn button:focus {
    outline: none;
}

.case-listing .isotop-item {
    margin-bottom: 30px;
}

.project-info {
    box-shadow: 0px 0px 15px 0px rgba(47, 2, 94, 0.1);
}

.project-info .title {
    text-align: center;
    background: #f7f8fa;
    padding: 13px;
}

.project-info ul {
    padding: 30px 0;
    margin-bottom: 0;
}

.project-info ul>li {
    border-bottom: 1px solid #fafaf7;
    padding: 15px 30px;
    text-align: right;
    font-weight: 500;
    color: #585858;
}

.project-info ul>li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.project-info ul>li>span {
    text-align: left;
    float: left;
    color: #212121;
}

.pro-diss {
    margin-bottom: 40px;
}

.pro-diss h2 {
    padding-bottom: 30px;
    padding-top: 40px;
}


/*-------------- # Blog-sidebar ----------------*/

.single-blog .blog-box .blog-content .blog-meta {
    margin-bottom: 20px;
    margin-left: 0;
}

.single-blog .search-box input {
    height: 50px;
}

.single-blog .search-box .btn-search {
    width: 43px;
    height: 43px;
}

.single-blog .search-box .btn-search i {
    font-size: 18px;
}

.sidebar-box {
    margin-bottom: 40px;
}

.sidebar-box .title {
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.Categories-box li ,.cat-item,.widget ul li{
    padding: 10px 0;
    text-transform: capitalize;
    position: relative;
    padding-left: 18px;
    font-weight: 500;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.Categories-box li::before,.cat-item:before,.widget ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    width: 7px;
    height: 7px;
    background: #dcdcdc;
    border-radius: 50%;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.Categories-box li:hover,
.cat-item:hover,
.widget ul li:hover,
.Categories-box li:focus,
.cat-item:focus,
.widget ul li:focus {
    color: #212121;
    font-weight: 500;
    margin-left: 8px;
}

.Categories-box li:hover::before,
.cat-item:hover::before,
.Categories-box li:focus::before,
.cat-item:focus::before {
    background: #212121;
}
.widget_categories li a, .widget_archive li a {
    float: left;
    clear: both;
}
.widget_categories li, .widget_archive li {
    text-align: right;
    position: relative;
    text-transform: capitalize;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}
.widget_archive select, .widget_categories select, .wp-block-archives select, .wp-block-categories select, .widget_text select {
    width: 100%;
    border: 1px solid #B4B8C5;
    padding: 10px;
    color: #7D859F;
}
.recent-post {
    margin: 0;
}

.recent-post li {
    margin-bottom: 5px;
    padding-top: 10px;
    min-height: 80px;
}

.recent-post .post-left {
    max-width: 30%;
    height: auto;
    float: left;
    padding-top: 5px;
}

.recent-post .post-right {
    display: inline-block;
    padding-left: 10px;
    max-width: 70%;
}

.recent-post .post-right h5 {
    font-weight: 600;
    margin-bottom: 6px;
    letter-spacing: 0.5px;
    line-height: 22px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.recent-post .post-right h5:hover,
.recent-post .post-right h5:focus {
    color: #ffc80a;
}

.recent-post .post-right .date {
    color: #212121;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.tags-btn a {
    background: #f7f8fa;
    padding: 8px 15px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.tags-btn a:hover,
.tags-btn a:focus {
    background: #ffc80a;
}

.add-post {
    position: relative;
    margin-top: 60px;
}

.add-post::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
}

.add-post h3 {
    color: #fff;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/*------------------ Blockqouts ----------------*/

.quote-card {
    background: #484d73;
    padding: 50px 30px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin: 40px 0;
}

.quote-card p {
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
}

.quote-card p::before {
    font-family: "Font Awesome 5 Free";
    content: "\f10d";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 190px;
    color: rgba(255, 255, 255, 0.14);
    font-weight: 900;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: -1;
}

ul.share-icon {
    margin-bottom: 30px;
}

.share-icon>.title {
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 0 !important;
}
.share-icon {
    margin-bottom: 10px;
}
.share-icon ul {
    display: inline-block;
}
.share-icon li {
    display: inline-block;
    margin: 0 8px;
    font-size: 22px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.share-icon li:hover,
.share-icon li:focus {
    color: #ffc80a;
}

/*-----------------# Comment-box -------------*/

.comment-area .title {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.comment-box {
    margin: 20px 0 40px;
}

.comment-box>li {
    border-bottom: 1px solid #eee;
    padding: 30px 0;
}

.comment-box .left-comment-box {
    
    float: left;
    margin-right: 20px;
}

.comment-box .right-comment-content {
    max-width: 100%;
    position: relative;
    padding-left: 120px;
}

.comment-box .right-comment-content h3 {
    margin-bottom: 15px;
}

.comment-box .right-comment-content h3>span {
    color: #585858;
    font-size: 15px;
    padding-left: 10px;
}

.comment-box .right-comment-content>a {
    position: absolute;
    top: 8px;
    right: 15px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.comment-box .right-comment-content>a:hover,
.comment-box .right-comment-content>a:focus {
    color: #ffc80a;
}

.comment-box img {
    border: 3px solid #ffc80a;
    box-shadow: 0px 3px 21px 0px rgba(67, 57, 169, 0.2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.comment-box .user-two {
    margin-left: 50px;
    border-top: 1px solid #eee;
    padding: 30px 0 0;
    margin-top: 50px;
    display: block;
}

/*----------------# Comment-form ----------------*/

.comment-form .title {
    margin-bottom: 40px;
}

.comment-form .form-group input {
    border: none;
    box-shadow: 0px 3px 20px 0 rgba(67, 57, 169, 0.1);
    background-color: #ffffff;
    height: 50px;
    border-radius: 40px;
    padding-left: 30px;
    margin-bottom: 30px;
    position: relative;
}

.comment-form textarea.form-control {
    height: auto;
    border: none;
    box-shadow: 0px 3px 20px 0 rgba(67, 57, 169, 0.1);
    background-color: #ffffff;
    border-radius: 14px;
    padding: 20px;
    margin-bottom: 30px;
}

.comment-form .btn {
    border: 2px solid #ffc80a;
    padding: 8px 50px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 35px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.comment-form .btn:focus {
    outline: none;
}

.comment-form .btn:hover,
.comment-form .btn:focus {
    background: #ffc80a;
}

.comment-form .form-icon {
    position: absolute;
    top: 18px;
    right: 30px;
    color: #585858;
    opacity: 0.5;
    font-size: 14px;
}



.faq-sidebox {
    background: #fafafa;
    padding: 30px 25px;
    margin-bottom: 40px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.faq-form {
    text-align: center;
}

.faq-form #inputState, .faq-form .form-group input {
    box-shadow: 0px 3px 20px 0 rgba(67, 57, 169, 0.1);
    background-color: #ffffff;
    border: none;
    border-radius: 30px;
    padding-left: 20px;
    height: 45px;
    margin-bottom: 30px;
}

.faq-form #inputState {
    margin-bottom: 30px;
}

.contact-form .btn-1, .faq-form .btn-1 {
    background: transparent;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.contact-form .btn-1:hover, 
.faq-form .btn-1:hover,
.contact-form .btn-1:focus, 
.faq-form .btn-1:focus {
    background: #ffc80a;
}

.contact-info li {
    margin-bottom: 30px;
    color: #212121;
    font-size: 18px;
}

.contact-info li span {
    display: block;
    color: #212121;
    font-weight: 600;
    margin-bottom: 7px;
    font-size: 16px;
    text-transform: uppercase;
}

.contact-inner .title {
    margin-bottom: 30px;
}

.contact-inner p {
    margin-bottom: 40px;
}

.contact-form .form-group input {
    border: none;
    height: 50px;
    margin-bottom: 30px;
    padding-left: 25px;
    background: #f7f8fa;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.contact-form textarea.form-control {
    background: #f7f8fa;
    border: none;
    margin-bottom: 40px;
    padding: 30px 15px;
    padding-top: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.contact-form textarea.form-control:focus, .contact-form .form-group input:focus {
    box-shadow: none;
}

/*---- Google Map ----*/

.map {
    height: 350px;
}

.error-box {
    text-align: center;
}

.error-box h1 {
    font-size: 250px;
    line-height: 250px;
    display: block;
    color: #151b4d;
}

.error-box span {
    font-size: 50px;
    line-height: 60px;
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
    color: #151b4d;
    margin-bottom: 20px;
    display: block;
}

.error-box p {
    color: #151b4d;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 40px;
}
.sidebar-box ul,.footer-box ul{
	margin:0;
}
table, th, td {
    border: 1px solid #B4B8C5 !important;
    text-align: center;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0 0 10px;
    background-color: transparent;
}

td, th {
    padding: 0.4em;
}
.calendar_wrap table{
    width: 100%;
    margin:0;
}
.sidebar-box caption,.wp-block-calendar caption,footer caption {
    border: 1px solid #B4B8C5;
    border-bottom: 0;
    padding: 10px;
    font-size: 20px;
    color: #212121;
    font-weight: 500;
    text-align: center;
    caption-side: top;
}
td#today {
    color: #371900;
    font-weight: 700 !important;
    background: #FFC809;
}
.admin-bar .header-one {
    top: 30px;
}

/* Pagination */
.pagination .page-numbers.current,
.pagination .post-page-numbers.current{
    background: #ffc80a;
}
.pagination .page-numbers, .pagination .post-page-numbers {
    border: none;
    color: #151B4D;
    font-size: 14px;
    border-radius: 50% !important;
    width: 30px;
    height: 30px;
    font-weight: 500;
    line-height: 29px;
    display: inline-block;
    background: #E4E4E4;
}
.prev.page-numbers{
     margin-right: 7px;
    background: none;
    border: 2px solid #FFC80A;
    padding: 0;
    line-height: 2.1;
    width: 32px;
    height: 32px;
    color: #151B4D;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}
.next.page-numbers{
    margin-left: 7px;
    background: none;
    border: 2px solid #FFC80A;
    padding: 0;
    line-height: 2.1;
    width: 32px;
    height: 32px;
    color: #151B4D;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}
.next.page-numbers:hover,
.prev.page-numbers:hover,
.next.page-numbers:focus,
.prev.page-numbers:focus {
    background: #FFC80A;
}
.wp-calendar-nav {
    border: 1px solid #6d7272;
    padding: 0.4em;
    border-top: 0;
}
.post-date{
	display: block;
}
.tagcloud a, .wp-block-tag-cloud a {
    background: #eee;
    padding: 8px 15px;
    font-size: 16px !important;
    display: inline-block;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}
.footer-box .tagcloud a {
    color: #000;
}
.tagcloud a:hover, 
.wp-block-tag-cloud a:hover, 
.tagcloud a:focus, 
.wp-block-tag-cloud a:focus {
    background: #ffc80a;
}
footer caption,footer .textwidget p{
	color: #ffffff;
}
footer .Categories-box li:hover,
footer .cat-item:hover,
footer .widget ul li:hover ,
footer .Categories-box li:focus,
footer .cat-item:focus,
footer .widget ul li:focus {
    color: #ccc;
}
.tag-sticky-2,.sticky { 
	background-color:#ededed;
	border:1px solid #f5f5f5;
	color:#272727;
	padding:5px;
	margin-bottom: 20px;
}
footer .search-box .btn-search {
    width: 43px;
    height: 43px;
}
footer .search-box input {
    height: 50px;
}
body > div {
    overflow: hidden;
}
.slicknav_nav li.force-show ul{
	display: block !important;
}