@media (max-width:1200px) {
    .icon-slide {
        padding: 0 15px;
    }
    .skills-area .col-lg-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .center-img-pos{
        position: relative;
        transform: none;
        top: 0;
        margin-bottom: 30px;
    }
    .sem-about-area  .center-img-pos{
    margin-bottom: 0;
    }
    .port-slide .port-box .port-info h3 {
        font-size: 20px;
    }
    .hero-area .right-img-box {
        top: 50%;
        right: 30px;}
        .fixed-bg{
            top: 1px;
            left: -2px;
        }
        .fixed-bg::before{
            height: 99%;
        }
     
}

@media (max-width:992px) {
    .right-img-box {
        display: none;
    }
    .bg-dotted {
        padding: 0;
    }
    .port-slide .slick-prev, .port-slide .slick-next {
        display: none !important;
    }
    .slick-initialized .slick-slide>div {
        padding: 0 15px;
    }
    .port-slide.slick-dotted.slick-slider {
        margin-left: 0;
    }
    .left-main-title.pl-5 {
        padding-left: 15px !important;
    }
    .port-slide .slick-dots {
        display: block !important;
    }
    .port-slide .slick-dots {
        bottom: -50px;
    }
    .slick-dots li button:before {
        font-size: 15px;
    }
    .copyright-area .text-right, .copyright-area {
        text-align: center !important;
    }
    .copyright-area p {
        margin-bottom: 15px;
    }
    .seo-img-wapper {
        display: none;
    }
    .project-info {
        margin-top: 30px;
    }
    .fea-content,
    .about-info {
        margin-bottom: 30px;
    }
    .comment-form button.btn,
    .blog-box {
        margin-bottom: 40px;
    }
}

@media (max-width:768px) {
    .hero-area .shapes {
        display: none !important;
    }
    .service-wt-bor.text-left {
        text-align: center !important;
    }
    .comment-box .left-comment-box {
        max-width: 25%;
        float: none;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .port-slide.slick-dotted.slick-slider{
        margin-bottom: 50px;
    }
    .sem-info{
        margin-bottom: 40px;
    }
}

@media (max-width:580px) {
  
    .error-box h1 {
        font-size: 170px;
    }
    .icon-slide.slick-initialized .slick-slide>div {
        margin: 0 35px;
    }
    .testi-slide .slick-prev,
    .icon-slide  .slick-prev {
        left: 0;
    }
    .testi-slide .slick-next,
    .icon-slide  .slick-next {
        right: 0;
    }
    .hero-area .slide-content h1 {
        font-size: 30px;
        line-height: 38px;
    }
    .hero-area .btn-theme{
        margin: 10px 5px;
    }
    .hero-area .slide-content {
        margin-top: 70px;
    }
    .hero-area .slide-content h4{
        font-size: 18px;
        line-height: 26px;
        padding-bottom: 10px;
    }
    .hero-area .slide-content p{
        margin: 15px auto;
    }
    .service-tab .nav-tabs{
        padding: 10px;
    }
    .seo-analysis-form button{
        padding: 9px 30px;
    }
    .seo-title.same-section-spacing {
        padding: 100px 0 30px;
    }
    .pricing-switcher label{
        width: 120px;
    }
    .testimonial-slider-content .item{
        margin-bottom: 0
    }
    .pr-0{
        padding-right: 15px !important;
    }
    .case-listing .text-right{
        text-align: left !important;
    }
    .icon-slide .slick-dots {
        bottom: -50px;
    }
 
    .icon-slide {
        margin-bottom: 50px !important;
    }
    .btn-box .btn-1{
        margin-bottom: 10px;
        padding: 9px 30px;
    }
    .more-less{
        width: 50px;
        height: 30px;
        font-size: 16px;
        line-height: 32px;
        margin-top: 15px;
    }

}
